.navbar-brand {
    font-size: 4em;
    vertical-align: text-bottom;
    display: flex;
    align-items: flex-end;
    text-align: left;
    line-height: 100%;
    padding-left: 30px;
    color: rgb(250, 250, 222);
}

.nav-link {
    font-family: "Belleza", serif;
    font-size: 1.5em;
    letter-spacing: 1.29px;
    vertical-align: text-bottom;
    display: flex;
    margin-left: 0.3em;
    margin-right: 0.3em;
    align-items: flex-end;
    color: rgb(250, 250, 222);
}

.navbar-nav {
    padding-right: 30px;
}

.navbar {
    background-image: url("/static/img/header-banner.png");
    background-size: cover;
    background-position: bottom;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-height: 40vh;
    font-family: "Belleza", serif;
}

p {
    text-align: left;
    font-family: "Montserrat";
}

ul {
    text-align: left;
    font-family: "Montserrat";
}

@font-face {
    font-family: "roca";
    src: url("roca-regular.ttf");
}

.subheading {
    font-family: "roca", serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: rgb(162, 73, 54);
}

.photo-caption {
    font-family: "Montserrat";
    font-size: x-small;
    font-style: italic;
    font-weight: lighter;
}
