{{template "base" .}}

{{define "title"}}CV{{end}}

{{define "body"}}
<div class="embed-responsive pt-5">
    <object class="embed-responsive" data="/static/content/EN_CV.pdf?v=20260201" type="application/pdf" , width="80%"
        height="700px">
        <p style="text-align: center;">
            View my CV <a href="/static/content/EN_CV.pdf?v=20260201">here</a>.
        </p>
    </object>
</div>
{{end}}
