{{template "base" .}}

{{define "title"}}CV{{end}}

{{define "body"}}
<div class="embed-responsive pt-5">
    <object class="embed-responsive" data="/static/content/EN_CV.pdf" type="application/pdf" , width="80%"
        height="700px">
        <p>
            View my CV <a href="/static/content/EN_CV.pdf">here</a>.
        </p>
    </object>
</div>
{{end}}
