{{template "base" .}}

{{define "title"}}CV{{end}}

{{define "body"}}
<div class="embed-responsive pt-5">
    <iframe class="embed-responsive" src="/static/content/EN_CV.pdf" width="80%" height="700px"></iframe>
</div>
{{end}}
