{{define "footer"}}
<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-muted">
            COPYRIGHT © {{ .Now.Format "2006" }} EMILY NARDONI - ALL RIGHTS RESERVED.
        </p>
    </footer>
</div>

{{end}}
