{{ template "base" . }}

{{ define "title" }}
Group
{{ end }}

{{ define "body" }}
<div class="container-fluid with=100% py-5 px-10 ">
    <div class="row justify-content-md-center">
        <div class="col-1"></div>
        <div class="col md-auto">
            <h2 class="mb-3 subheading">Particle Theory @ Vassar</h2>
            <p>
                My group, Particle Theory @ Vassar, launched in Fall 2024. Undergraduate students I've mentored in
                research projects include:
            </p>
            <ul>
                <li>Freddy Loew, Vassar Class of 2026</li>
                <li>Param Gogia, Vassar Class of 2025</li>
            </ul>
            <div class="row g-4 mb-3">
                <div class="col-12 col-md-4">
                    <img class="img-fluid w-100" src="/static/img/group-1.JPG" alt="Group Photo 1">
                </div>
                <div class="col-12 col-md-7">
                    <img class="img-fluid w-100" src="/static/img/group-2.JPG" alt="Group Photo 2">
                </div>
            </div>
            <p>
                If you're interested in getting involved, get in touch!
            </p>
        </div>
        <div class="col-1"></div>
    </div>
</div>

{{ end }}
