{{ template "base" . }}

{{ define "title" }}
Group
{{ end }}

{{ define "body" }}
<div class="container-fluid with=100% py-5 px-10 ">
    <div class="row justify-content-md-center">
        <div class="col md-auto text-center">
            <p class="text-center">
                My group, Particle Theory @ Vassar, is launching in Fall 2024. If you're interested in getting involved,
                get in
                touch!
            </p>
        </div>
    </div>
</div>

{{ end }}
