{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<h2>This is the home page</h2>
<p>There's nothing here yet</p>


<div id="d1">
    <p>Div 1</p>
</div>
<div id="d2">
    <p>Div 2</p>
</div>

{{end}}
