{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}

<div class="container-fluid with=100% py-5 px-10 ">
    <div class="row justify-content-md-center">
        <div class="col-1"></div>
        <div class="col md-auto">
            <img src="/static/img/about-img.jpeg" alt="" height="400px">
            <p class="text-center photo-caption"> Photo credit: Noel Tovia Matoff </p>
        </div>
        <div class="col md-auto">
            <h2 class="text-left mb-3 subheading">
                About Me
            </h2>
            <p>
                I am a theoretical particle physicist with research interests at the intersection of elementary particle
                physics and mathematical physics.
            </p>
            <p>
                This fall I am joining the faculty in the Physics and Astronomy Department at Vassar College as an
                Assistant Professor. I have previously held postdoctoral research positions at the Kavli Institute for
                the Physics and Mathematics of the Universe (Kavli IPMU) at the University of Tokyo, as well as at UC
                Los Angeles. I did my Ph.D work in physics at UC San Diego, and my bachelor’s degree in physics is from
                MIT. In my spare time I love running, film, and food.
            </p>
        </div>

        <div class="col-1"></div>
    </div>
</div>

{{end}}
