{{define "navbar"}}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary flex-sm-nowrap flex-wrap">
    <a class="navbar-brand" href="/">Emily <br> Nardoni</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 justify-content-right" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/research"> RESEARCH</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/group"> GROUP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teaching"> TEACHING</a>
            </li>
            <li>
                <a class="nav-link" href="/cv">CV</a>
            </li>
        </ul>
    </div>
</nav>
{{end}}
