{{template "base" .}}

{{define "title"}}My Research{{end}}

{{define "body"}}


<div class="container-fluid with=100% py-5 px-10 ">
    <div class="row justify-content-md-center">
        <div class="col-1"></div>
        <div class="col md-auto">
            <h1 class="text-center mb-3">
                <u>Research Interests</u>
            </h1>
            <p>
                My research focuses on developing new methods to probe the nature of Quantum Field Theories (QFTs),
                especially in their strong coupling regimes. Using a symmetry based approach, I aim to constrain and
                solve for the non-perturbative dynamics of Quantum Field Theories, as well as to explore the rich and
                interconnected space of field theories. I often address these questions in the framework of string
                theory, which provides a rich playground of geometric tools to study supersymmetric QFTs.


            </p>
            <p>
                My research publications can be accessed <a href="https://inspirehep.net/authors/1497181">here</a>.
            </p>
            <p>
                Some of my recorded talks can be accessed online. For example, see
                <a href="https://www.youtube.com/watch?v=HZ-ioqEzV_w&list=PLiSDiHgXimR9JZELtwRDV6sauMYWILwlR&index=54">
                    this link
                </a>
                for my talk from Strings 2022 on using tools from supersymmetry to learn about a non-supersymmetric
                confining gauge theory, and
                <a href="https://scgp.stonybrook.edu/video/video.php?id=5515">
                    this link
                </a>
                for my review of recent developments in using string theory to geometrically engineer QFTs with minimal
                supersymmetry.
            </p>
        </div>
        <div class="col md-auto">
            <img src="/static/img/research-img.jpeg" alt="" height="400px">
        </div>
        <div class="col-1"></div>
    </div>
</div>


{{end}}
