{{ template "base" . }}

{{ define "title" }}
My Research
{{ end }}

{{ define "body" }}


<div class="container-fluid with=100% py-5 px-10 ">
    <div class="row justify-content-md-center">
        <div class="col-1"></div>
        <div class="col md-auto">
            <h2 class="text-left mb-3 subheading"> Research Interests </h2>

            <p>
                My research focuses on developing new theoretical toolkits to characterize and solve for the dynamics of
                Quantum Field Theories, and applying these methods to gain a deeper understanding of particle physics
                and string theory.
            </p>
            <div>
                <img style="float: right; margin-left: 25px; margin-bottom: 1px;" src="/static/img/research-img.jpeg"
                    alt="" height="400px">
            </div>
            <p>
                Quantum Field Theory (QFT) is a framework which unifies quantum mechanics and special relativity, and is
                essential across many areas of modern theoretical physics—including for capturing the interactions of
                the elementary particles. The most interesting phenomena in nature comes from systems which are strongly
                interacting, for which traditional perturbative techniques fail and new creative tools are required.
                (This is why, for instance, answering
                <i>how does the strong nuclear force keep the nucleus bound together?</i>
                is such a difficult problem!) In my research, I study systems precisely in these most-elusive yet
                most-interesting limits, with the goal of taking away broad lessons about the nature of quantum field
                theory. I often address these questions within the framework of string theory, which provides a rich
                playground of geometric tools to study strongly interacting QFT.

            </p>
            <h2 class="text-left mb-3 subheading" style="margin-top: 40px;"> Publications and Talks </h2>
            <p>
                My research publications can be accessed <a href="https://inspirehep.net/authors/1497181">here</a>.

            </p>
            <p>
                Some of my recorded talks can be accessed online. For example, see
                <a href="https://www.youtube.com/watch?v=HZ-ioqEzV_w&list=PLiSDiHgXimR9JZELtwRDV6sauMYWILwlR&index=54">
                    this link
                </a>
                for my talk from Strings
                2022 on using tools from supersymmetry to learn about a non-supersymmetric confining gauge theory, and
                <a href="https://scgp.stonybrook.edu/video/video.php?id=5515">this link</a> for my review of
                recent developments in using string theory to geometrically engineer QFTs
                with minimal supersymmetry.

            </p>
            <h2 class="text-left mb-3 subheading" style="margin-top: 40px;"> The Big Picture </h2>
            <p>
                Check out this non-technical introduction to my research program, which gives a flavor of the sort of
                questions I pursue and what working in my group might entail.
            </p>
            <p>
                [To appear soon]
            </p>
        </div>

        <div class="col-1"></div>
    </div>
</div>


{{end}}
